.footer{
    background-color: #363c47;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer_contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
}

.footer_logo{
    height: 130px;
    display: flex;
    align-items: center;
}

.footer_logo img{
    height: 400px;
    width: auto;
}

.footer_email{
    margin: 20px;
    font-size: 18px;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}


.footer_telefono, .footer_correo{
    display: flex;
    gap: 10px;
}

.footer_derechos{
    background-color: #363c47;
    padding: 25px;
    font-size: 15px;
}

.footer_derechos p{
    text-align: center;
    line-height: 2;
}