.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 50%;
    margin: 0 auto;
  }

  .separador_linea {
    height: 200px;
    flex-grow: 1;
    height: 1px;
    background-color: #eb00f3;
    margin-left: 10px;
    margin-right: 10px;
  }
